/* Make Plausible dashboard fill available height */
[data-ui="Card"][data-width="full"] {
  height: 100%;
}

[data-ui="Card"][data-width="full"] > [data-ui="Card"] {
  height: 100%;
}

[data-ui="Card"][data-width="full"] [data-ui="Box"] {
  height: 100%;
}

[data-ui="Card"][data-width="full"] iframe {
  min-height: calc(100vh - 120px);
}
