.imageSection {
  grid-column: 2 / -1;
  position: relative;
  padding-left: var(--space-lg);
}

.imageSection::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: var(--color-border);
}

.imageSectionFull {
  grid-column: 1 / -1;
  padding-block: var(--space-lg);
  padding-left: 0;
}

.imageSectionFull::after {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 1px;
}

.imageSectionImage {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .imageSection {
    grid-column: 1 / -1;
    padding-left: 0;
  }

  .imageSection::after {
    display: none;
  }
}